<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MinecraftShop</display-name>
  <servlet>
    <servlet-name>Install</servlet-name>
    <servlet-class>com.lumagaizen.minecraftshop.servlet.web.Install</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.lumagaizen.minecraftshop.servlet.ajax.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductLikes</servlet-name>
    <servlet-class>com.lumagaizen.minecraftshop.servlet.ajax.ProductLikes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>com.lumagaizen.minecraftshop.servlet.ajax.PurchaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Products</servlet-name>
    <servlet-class>com.lumagaizen.minecraftshop.servlet.ajax.Products</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Shop</servlet-name>
    <servlet-class>com.lumagaizen.minecraftshop.servlet.web.Shop</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyProduct</servlet-name>
    <servlet-class>com.lumagaizen.minecraftshop.servlet.web.BuyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shop</servlet-name>
    <url-pattern>/Shop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductLikes</servlet-name>
    <url-pattern>/ProductLikes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Install</servlet-name>
    <url-pattern>/Install</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyProduct</servlet-name>
    <url-pattern>/BuyProduct</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>shop.jsp</welcome-file>
  </welcome-file-list>
</web-app>